.countryDropdown {
  position: relative;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  height: 40px;
  width: 100%;
  background-color: var(--color-primary-white);
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-gray-700);
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  gap: 12px;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  gap: 10px;
  overflow: hidden;
}

.inactiveSearchIcon {
  display: flex;
  align-items: center;
  color: #9ca3af;
  flex-shrink: 0;
}

.valueWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  width: 100%;
}

.placeholder {
  color: #6b7280;
  white-space: nowrap;
}

.selectedText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Три крапки, якщо назва довга */
}

.buttonOpen {
  box-shadow:
    0px 1px 2px 0px rgba(10, 13, 18, 0.05),
    0px 0px 0px 4px var(--color-gray-200);
  border-color: var(--color-gray-300);
}

.arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.arrowOpen {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  z-index: 20;
  background-color: var(--color-primary-white);
  border-radius: 8px;
  box-shadow:
    0px 12px 16px -4px rgba(10, 13, 18, 0.08),
    0px 4px 6px -2px rgba(10, 13, 18, 0.03);
  display: flex;
  flex-direction: column;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  width: 100%;
  border: 1px solid var(--color-gray-200);
  max-height: 420px;
  overflow-y: auto;
}

.dropdownMenu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
}

.dropdownMenu.closed {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  visibility: hidden;
}

.option {
  padding: 10px 14px;
  gap: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--color-gray-900);
  font-weight: 500;
  transition: background-color 0.15s;
}

.option:hover {
  background-color: var(--color-gray-50);
}

.option.selected {
  background-color: var(--color-gray-50);
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchIconWrapper {
  display: flex;
  align-items: center;
  color: #9ca3af;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  margin-left: 10px;
  color: var(--color-gray-900);
}

.flagIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.checkmark {
  width: 16px;
  height: 16px;
  margin-left: auto;
}
