.arrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background: none;
  border: none;
  padding: 0;
  color: #af261f;
}

.arrowButton:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.default {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-primary-white);
  border: 2px solid var(--color-gray-300);
}

.default:hover {
  border-color: var(--color-brand-burgundy);
}

.minimal {
  width: auto;
  height: auto;
  border: none;
  background: transparent;
}

.minimal:hover {
  color: var(--color-brand-dark-burgundy);
}

.left {
  transform: rotate(0deg);
}

.right {
  transform: rotate(180deg);
}

.arrowIcon {
  width: 16px;
  height: 28px;
}
