.customCheckbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
}

.checkboxInput {
  display: none;
}

.checkboxCustom {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-gray-300);
  border-radius: 6px;
  background-color: var(--color-primary-white);
  position: relative;
  transition: all 0.2s ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
}

.checkboxInput:checked + .checkboxCustom {
  background-color: var(--color-brand-25);
  border-color: var(--color-brand-dark-burgundy);
  background-image: url('/icons/check.svg');
}

.labelText {
  font-size: 14px;
}
