.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(
    100vh - 320px
  ); /* Тимчасово відняв довжину футера (потрібно по іншому зробити) */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-lightgray);
  z-index: 99;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  width: 250px;
  height: 63px;
}

.dropContainer {
  position: absolute;
  right: 0;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop {
  animation: dropAnimation 4s ease-in-out infinite;
}

@keyframes dropAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
