.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: var(--color-primary-white);
  box-shadow:
    0 12px 16px -4px rgba(10, 13, 18, 0.08),
    0 4px 6px -2px rgba(10, 13, 18, 0.03);
  border-radius: 16px;
  padding: 64px 24px;
  width: 100%;

  height: 100%;
}

.iconWrapper {
  margin-bottom: 24px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: var(--color-gray-700);
  margin-bottom: 10px;
}

.description {
  font-size: 28px;
  font-weight: 500;
  color: var(--color-gray-600);
  line-height: 1.5;
}
