.cardProductSkeleton {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 567px;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  background: var(--color-primary-white);
  box-shadow:
    0px 12px 16px 0px rgba(10, 13, 18, 0.08),
    0px 4px 6px 0px rgba(10, 13, 18, 0.03);
  box-sizing: border-box;
}

/* Анімація пульсації */
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.favoriteIconSkeleton,
.cardImageSkeleton,
.inStockMock,
.skuMock,
.headingSkeleton,
.headingSkeletonShort,
.subHeadingSkeleton,
.subHeadingSkeletonLong,
.ratingSkeleton,
.priceSkeleton,
.buttonSkeleton {
  background: var(--color-gray-200);
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.favoriteIconSkeleton {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
  border-radius: 50%;
  z-index: 10;
}

.cardImageWrapperSkeleton {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImageSkeleton {
  width: 100%;
  height: 100%;
}

.cardProductInfoSkeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.cardDetailsTopSkeleton {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardInStockSkeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.inStockMock {
  width: 68px;
  height: 24px;
}

.skuMock {
  width: 88px;
  height: 20px;
}

.headingAndSubSkeleton {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headingSkeleton {
  width: 90%;
  height: 24px;
}

.headingSkeletonShort {
  width: 60%;
  height: 24px;
}

.subHeadingSkeleton {
  width: 50%;
  height: 20px;
}

.subHeadingSkeletonLong {
  width: 75%;
  height: 20px;
}

.ratingSkeleton {
  width: 108px;
  height: 18px;
}

.cardDetailsBottomSkeleton {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-200);
  display: block;
}

.priceRowSkeleton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceSkeleton {
  width: 100px;
  height: 28px;
  border-radius: 6px;
}

.cartButtonWrapperSkeleton {
  width: 100%;
}

.buttonSkeleton {
  width: 100%;
  height: 48px;
  border-radius: 8px;
}
