.accountLayout {
  margin: 32px 0 80px 0;
  display: flex;
  gap: 24px;
}

.sideBar {
  padding-right: 24px;
  border-right: 1px solid var(--color-gray);
}

.userInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 24px;
}

.userImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.userName {
  color: var(--color-gray-800);
  font-weight: 500;
}

.userEmail {
  color: var(--color-gray-600);
  font-size: 12px;
}

.contentArea {
  position: relative;
  flex-grow: 1;
  width: 100%;
  min-height: 400px;
}
