.cardSection {
  margin-bottom: 80px;
}

.cardContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 24px;
}

.gridCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.sliderWrapper {
  position: relative;
  display: flex;
}

.arrowButton {
  z-index: 100;
  top: 188px;
  position: absolute;
}

.leftButton {
  z-index: 2;
  left: -8px;
}

.rightButton {
  z-index: 2;
  right: -8px;
}
