.cart {
  margin-top: 32px;
}

.cartLayout {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 80px;
}

.totalPrice {
  border-radius: 0 16px 16px 0;
  border: 1px solid var(--color-gray-300);
  background: var(--color-primary-white);
  min-width: 330px;
  max-width: 330px;
  width: 100%;
  padding: 24px;
}

.totalInfo {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray-800);
  padding-bottom: 16px;
}

.totalInfo p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.greenPrice {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-green);
}

.totalInfoWithBorder {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray-800);
  padding-bottom: 16px;
  border-top: 1px solid var(--color-gray-300);
  border-bottom: 1px solid var(--color-gray-300);
  padding-top: 16px;
  margin-bottom: 16px;
}

.checkoutButton {
  padding-bottom: 16px;
}

.emptyCartHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emptyCart {
  padding: 70px 15px;
  text-align: center;
  background-color: var(--color-primary-white);
  border-radius: 16px;
  box-shadow:
    0 12px 16px -4px rgba(10, 13, 18, 0.08),
    0 4px 6px -2px rgba(10, 13, 18, 0.03);
  margin-bottom: 80px;
}

.emptyCart h3 {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  color: var(--color-gray-700);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
}

.emptyCart p {
  padding-top: 8px;
  color: var(--color-gray-600);
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
}

.aside {
  position: sticky;
  top: 100px;
  align-self: flex-start;
}
