.scrollAnchor {
  scroll-margin-top: 100px;
}

.sectionWrapper {
  margin-bottom: 48px;
}

.skeletonGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 80px;
}
