.loadingContainerStyle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100%;
}

.scrollAnchor {
  scroll-margin-top: 100px;
}

.sectionWrapper {
  margin-bottom: 48px;
}
