.container {
  margin: 32px 0;
  display: flex;
  gap: 24px;
}

.wrapper {
  width: 100%;
  z-index: 0;
}

.catalogContent {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.skeletonGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  padding-bottom: 24px;
}
