.wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-primary-white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBox {
  display: flex;
  justify-self: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  max-width: 566px;
  width: 100%;
  height: 44px;
}

.searchBox input {
  padding: 10px 14px 10px 42px;
}

.searchBoxIcon {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.loginButton {
  padding: 10px 17px;
  border-radius: 8px;
  border: transparent;
  background: transparent;

  text-decoration: none;
  color: var(--color-gray-800);
  font-size: 16px;
  font-weight: 600;
}

.loginButton:hover,
.logoutButton:hover {
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1157px;
}

.userActions {
  display: flex;
  align-items: center;
  gap: 56px;
}

.userMessage {
  font-weight: 600;
}
