.wrapper {
  width: 100%;
  background-color: #1e4b3e;
  color: #fff;
}

.header {
  max-width: 1440px;
  padding: 16px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
