.BuyerOrders {
  width: 100%;
  max-width: 1038px;
}

.title {
  color: var(--color-gray-800);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  margin-bottom: 16px;
}

.description {
  color: var(--color-gray-800);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 14px;
}

.button {
  width: 175px;
}

.BuyerOrders > *:last-child {
  margin-left: auto;
}
