.cardHero {
  max-width: 1392px;
  max-height: 307px;
  height: 100%;
  width: 100%;
  display: flex;
  box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03);
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  cursor: pointer;
}

.cardHero.active {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

.cardHero.inactive {
  transform: translateX(100%);
  opacity: 0;
  z-index: 0;
}

.cardHero.prev {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 0;
}

.cardHeroInfo {
  padding: 96px 41px 96px 55px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cardHeroTitle {
  color: var(--color-gray-800);
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}

.cardHeroText {
  color: var(--color-gray-800);
  line-height: 1.4;
}