.container {
  padding: 24px 16px;
  box-shadow:
    0px 12px 16px -4px rgba(10, 13, 18, 0.08),
    0px 4px 6px -2px rgba(10, 13, 18, 0.03);
  background-color: var(--color-primary-white);
  max-width: 330px;
  width: 100%;
  height: 100%;

  /* --- TEMPORARY --- */
  position: relative;
  overflow: hidden;
  /* ---------------- */
}

.label {
  display: block;
  color: var(--color-gray-700);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 8px;
}

.FilterBox {
  margin-bottom: 16px;
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d5d7da;
  margin-bottom: 16px;
}

.PriceBox {
  display: flex;
  justify-content: space-between;
}

.SelectFilterBox {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.ToggleBox {
  padding: 26px 24px 0 24px;
  display: flex;
  gap: 12px;
  margin-top: 32px;
}

.ToggleButton {
  display: block;
  height: 20px;
  width: 36px;
  border-radius: 12px;
  background: var(--color-gray-300);
  border: none;
  position: relative;
  transition: 0.2s;
  padding: 2px;
  cursor: pointer;
}

.ToggleButton:before {
  position: absolute;
  content: '';
  background-color: var(--color-primary-white);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s;
}

.ToggleButtonInput {
  display: none;
}

.ToggleButtonInput:checked + .ToggleButton {
  background-color: var(--color-brand-burgundy);
}
.ToggleButtonInput:checked + .ToggleButton::before {
  transform: translateX(16px);
}

.ToggleLabel {
  color: var(--color-gray-900);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.ClearButton {
  margin-top: 24px;
  width: 100%;
  border-radius: 8px;
  padding: 10px 18px;
  text-align: center;
  background: rgba(175, 38, 31, 0);
  box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
  color: var(--Schemes-On-Surface-Variant, #49454f);
  font-weight: 600;
  border: 1px solid var(--color-gray-800);
  color: var(--color-gray-700);
  cursor: pointer;
  transition: color 0.3s;
}

.ClearButton:hover {
  border: 1px solid var(--color-gray);
  transition: color 0.3s;
}

/* ---------------------------- TEMPORARY ---------------------------- */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 70%);
  backdrop-filter: blur(1px);
  z-index: 19;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageBox {
  background-color: white;
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 80%;
  border: 1px solid var(--color-gray-200);
}

.messageTitle {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-gray-900);
  margin-bottom: 4px;
}

.messageSubtitle {
  display: block;
  font-size: 13px;
  color: var(--color-gray-700);
}
/* -------------------------------------------------------- */
