.subheading {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 8px;
}

.primary {
  color: var(--color-gray);
}

.secondary {
  color: var(--color-gray-800);
}

.large {
  font-size: 20px;
}

.medium {
  font-size: 16px;
}

.small {
  font-size: 14px;
}
