.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background-lightgray);
}

.layout_main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.layout_content {
  width: 1440px;
}
